.blinkAnim {
    -webkit-animation: blinkAnim 1s ease infinite;
}

@-webkit-keyframes blinkAnim {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.2, 1.2);
    }     
    100% {
        transform: scale(1, 1);
    }
}
