

$primaryColor: #f60;
$secondaryColor: #ff0000;

.section {
    background: $primaryColor !important;
}
/*ul {
    background: $secondaryColor;

    li {
        background: $primaryColor;

        a {
            background: $secondaryColor;
        }
    }
}*/